@import "tailwindcss";

@theme {
  --font-headline: "Poppins", "sans-serif";
  --font-body: "Poppins", "sans-serif";
  --font-numeric: "Poppins", "sans-serif";
  
  --color-primary-container: #ff0000;
  --color-secondary: #ffffff;
  --color-surface: #1a1a1a;
  --color-background: #000000;
}

@layer base {
  body {
    @apply bg-background text-white font-body;
  }
}

.glow-primary {
  box-shadow: 0 4px 20px rgba(232, 0, 61, 0.4);
}

.glow-secondary {
  box-shadow: 0 4px 20px rgba(233, 195, 73, 0.3);
}
